

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.scrollable ul {
  height: 600px; width:100%;
  overflow:hidden; overflow-y:scroll;
}


.opacity {
  background-color: rgba(255,255,255,0.9);

  border-radius: 5px;
  padding: 10px;
}
.hmm {
  background-color: rgba(255,255,255,0.85);

}


.noOpacity {

  opacity: 0;
  height: 880px;
}

.nooOpacity {
  background-color: rgba(255,255,255,0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
